In [6]:
import requests
import json

url="https://raw.githubusercontent.com/IBM/taxinomitis/master/resources/datasets/numbers/titanic.json"
reponse = requests.get(url).text
# print(data, type(data))  # str

data = json.loads(reponse) 
# print(data["metadata"])

fields = []
for tmp in data["metadata"]["fields"]:
    print(tmp)
    fields.append(tmp['name'].replace(".",""))

fields.append('servived')
print(fields)

# arr = []
# for tmp in data["data"]["survived"]:
#     tmp1 = { fields[0]:int(tmp[0]), 
#              fields[1]:tmp[1],
#              fields[2]:float(tmp[2]),
#              fields[3]:int(tmp[3]),
#              fields[4]:int(tmp[4]),
#              fields[5]:float(tmp[5]),
#              fields[6]:tmp[6],
#              fields[7]:1 }
#     arr.append(tmp1)

    
# for tmp in data["data"]["did_not_survive"]:
#     tmp1 = { fields[0]:int(tmp[0]), 
#              fields[1]:tmp[1],
#              fields[2]:float(tmp[2]),
#              fields[3]:int(tmp[3]),
#              fields[4]:int(tmp[4]),
#              fields[5]:float(tmp[5]),
#              fields[6]:tmp[6],
#              fields[7]:0 }
#     arr.append(tmp1)
    
# for arr2 in arr:
#     print(arr2)

{'name': 'ticket class', 'type': 'number'}
{'name': 'gender', 'type': 'multichoice', 'choices': ['male', 'female']}
{'name': 'age', 'type': 'number'}
{'name': 'sibl. sp.', 'type': 'number'}
{'name': 'par. ch.', 'type': 'number'}
{'name': 'ticket fare', 'type': 'number'}
{'name': 'embarked', 'type': 'multichoice', 'choices': ['Cherbourg', 'Queenstwn', 'Southampt']}
['ticket class', 'gender', 'age', 'sibl sp', 'par ch', 'ticket fare', 'embarked', 'servived']

In [3]:
# csv파일 만들어 데이터 저장
import csv


# 저장위치 ,w ,r ,a ,utf-8 ,euc-kr
file = open('csv/titanic.csv','w',encoding='utf-8')
wr = csv.writer(file) 
wr.writerow(['ticket class','gender','age','sibl sp','par ch','ticket fare','embarked','servived']) # column명 추가
for i in arr:
    wr.writerow(i)
file.close()